* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: bisque;
  font-family: fantasy;
}

h1 {
  color: bisque;
  text-align: center;
  font-family: fantasy;
  margin-bottom: 20px;
}

a {
  color: bisque;
  font-family: fantasy;
}

input {
  line-height: 2;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.character {
  height: 50px;
  width: 50px;
  display: grid;
  cursor: pointer;
  background-size: contain;
  background-position-x: 0;
  background-position-y: 0;
  background-size: 650px;
  background-repeat: no-repeat;
  position: static;
}

.character:hover {
  animation: move-down 0.5s steps(5) infinite;
}

.character-moving {
  animation: move-down 0.5s steps(5) infinite;
}

.character:hover .description {
  display: block;
}

.stand {
  background-position-y: -255px;
  background-position-x: -305px;
}

.description {
  border-radius: 2%;
  position: relative;
  top: 80px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  min-width: 350px;
  display: none;
  left: -125px;
}

.button {
  color: bisque;
  font-family: fantasy;
  font-size: 24px;
  min-height: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease 0s;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 79, 15);
  line-height: 1.25rem;
  height: 2.5rem;
  padding: 0px 1.25rem;
}

.center {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
