.wrapper {
    position: relative;
    overflow: hidden;
    display: grid;
    font-size: 50px;
}

.map {
    grid-template-rows: repeat(10, 50px);
    gap: 0 0;
    background-color: #a7c53f;
    background-image: radial-gradient(circle at 0% 0%, transparent 50%, rgba(0, 0, 0, .1) 50%),
    radial-gradient(circle at center, rgba(0, 0, 0, .1) 50%, transparent 50%),
    radial-gradient(circle at 100% 100%, transparent 50%, rgba(0, 0, 0, .1) 50%),
    radial-gradient(circle at 0% 100%, transparent 50%, rgba(0, 0, 0, .1) 50%),
    radial-gradient(circle at 100% 0%, transparent 50%, rgba(0, 0, 0, .1) 50%);
    background-size: 100% 100%;
    width: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    height: 50px;
    width: 50px;
    display: grid;
    cursor: pointer;
    position: relative;
    background-size: contain;
}

.cell:after {
    position: absolute;
    left: 1px;
    top: -5px;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-size: 1em;
}

.wall {
    color: transparent;
    background-image: url("./images/wall.png");
}

.enemy:after {
    content: '🧟‍♂️';
}

.treasure:after {
    content: '💎';
}

.cheetah, .bear, .wolf {
    position: absolute;
}

.cheetah:after {
    content: '🐆';
}

.bear:after {
    content: '🐻';
}

.wolf:after {
    content: '🐺';
}
