.map {
    display: grid;
    /*grid-auto-flow: column;*/
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0 0;
    width: 500px;
    height: 500px;
    font-size: 50px;
    background-color: #a7c53f;
    background-image: radial-gradient(circle at 0% 0%, transparent 50%, rgba(0, 0, 0, .1) 50%),
    radial-gradient(circle at center, rgba(0, 0, 0, .1) 50%, transparent 50%),
    radial-gradient(circle at 100% 100%, transparent 50%, rgba(0, 0, 0, .1) 50%),
    radial-gradient(circle at 0% 100%, transparent 50%, rgba(0, 0, 0, .1) 50%),
    radial-gradient(circle at 100% 0%, transparent 50%, rgba(0, 0, 0, .1) 50%);
    background-size: 8em 8em;
}

.row {
    display: flex;
}

.cell {
    height: 50px;
    width: 50px;
    display: grid;
    cursor: pointer;
    position: relative;
    background-size: contain;
}

.cell:after {
    position: absolute;
    left: 1px;
    top: -5px;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-size: 1em;
}

.wall {
    color: transparent;
    background-image: url("./images/wall.png");
}

.enemy:after {
    content: '🧟‍♂️';
}

.treasure:after {
    content: '💎';
}

.cheetah:after {
    content: '🐆';
}

.bear:after {
    content: '🐻';
}

.wolf:after {
    content: '🐺';
}
