.notificationList {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.notificationList div {
  border-radius: 2px;
  white-space: nowrap;
  pointer-events: none;
  background: rgba(0,0,0,0.5);
  padding: 6px 17px;
  margin: 3px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  transition: all 0.4s ease-out;
  font-size: 14px;
}